.movie-list {
  .list-count {
    font-size: 1.5rem;
    color: #fff;
    padding: 15px;
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      padding: 10px;
      margin: 10px;
      width: 30%;
      .thumbnail {
        width: 100%;
        height: auto;
        min-height: 200px;
      }
      .desc {
        color: #9e9e9e;
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-top: 10px;
        .type {
          font-size: 0.9rem;
        }
        .year {
          span {
            padding: 0 5px;
            border: 1px solid;
            margin-top: 5px;
            display: inline-block;
          }
        }
      }
    }
  }
}
